{% if pagination.has %}
    {% if (pagination.useTextInput) %}
        <div class="col-xs-12">
            <form class="form-horizontal" role="form">
                {% for name, value in pagination.vars('page') %}
                    {% include '@RememberMe/_shared/pagination_hidden_inputs.html.twig' with {name: name, value: value} %}
                {% endfor %}
                <div class="form-group">
                    <label class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-4" for="">
                        <span class="hidden-xs">Page {{ pagination.page }} от {{ pagination.totalPages }}</span>
                            <span class="visible-xs">
                                <i class="fa fa-file-code-o fa-fw"></i> {{ pagination.page }} / {{ pagination.totalPages }}
                            </span>
                    </label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                        <div class="input-group">
                            <div class="input-icon">
                                <i class="fa fa-file-code-o fa-fw"></i>
                                <input type="text" name="page" value="{{ pagination.page }}" class="form-control" placeholder="Go to page..." />
                            </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="btn-group btn-group-justified">
                            {#{{ pagination.page }}#}
                            {% if (pagination.page - 1) %}
                                <a href="{{ path(pagination.route, pagination.buildPaginationArray(pagination.page-1)) }}"
                                   class="btn blue">
                                    <i class="fa fa-arrow-left fa-fw"></i>
                                    {{ (pagination.page-1) }}
                                </a>
                            {% endif %}
                            {% if (pagination.page <= (pagination.totalPages-1)) %}
                                <a href="{{ path(pagination.route, pagination.buildPaginationArray(pagination.page+1)) }}"
                                   class="btn blue">
                                    {{ (pagination.page+1) }}
                                    <i class="fa fa-arrow-right fa-fw"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% elseif (pagination.useSelect) %}
        <div class="col-lg-4 col-lg-offset-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-8" for=""> Page</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-4">
                        <select onchange="document.location.href=$(this).val();" class="form-control select2">
                            {% for num, page in pagination.get %}
                                <option value="{{ path(pagination.route, page) }}" {{ num == pagination.page ? 'selected' : '' }}>Page {{ num }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 col-xs-12">
            <ul class="pagination pull-right pagination-primary">
                {% for num, page in pagination.get %}
                    <li class="{{ num == pagination.page ? ' active' : '' }}">
                        {% if num == pagination.page %}
                            <a href="javascript:;">{{ num }}</a>
                        {% else %}
                            <a href="{{ path(pagination.route, page) }}">{{ num }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}