<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forci Persistent Remember Me</title>
        {% include '@ForciRememberMe/_layout/assets/styles.html.twig' %}
        <link rel="shortcut icon" href="{{ asset('bundles/forcirememberme/img/lock-64.ico') }}"/>
    </head>
    <body>

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('forci_remember_me_token_list') }}">
                        <img src="{{ asset('bundles/forcirememberme/img/lock-40.png') }}"/>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{{ 'forci_remember_me_token_list'|isRoute('active') }}">
                            <a href="{{ path('forci_remember_me_token_list') }}">Tokens</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ path('forci_remember_me_token_list') }}">Dashboard</a></li>
                {% block breadcrumb '' %}
            </ol>
            {% block content '' %}
        </div>

        {% include '@ForciRememberMe/_layout/assets/scripts.html.twig' %}
        <script type="text/javascript">
            $(function () {
                {% block scripts '' %}
            });
        </script>
    </body>
</html>